REACT_APP_API_TOKEN=<eyJhbGciOiJIUzI1NiIsImtpZCI6IkNhbnZhc1MyU0hNQUNQcm9kIiwidHlwIjoiSldUIn0.eyJhdWQiOiJjYW52YXMtY2FudmFzYXBpIiwiaXNzIjoiY2FudmFzLXMyc3Rva2VuIiwibmJmIjoxNzI2NTY1MzEwLCJzdWIiOiIyN2NmNDQwYy04YjBkLTQ5ZDEtYTM2MC04YjdkODQ5OTM3ZWJ-UFJPRFVDVElPTn5kZTg3ZmFmMy0yY2M3LTRmNzMtYjY5ZS0zZTgzOTZkYmZkYjYifQ.eftt1t2swdSw2TTML523oX7-PEX0hJgUN_6CSgog8U0>
REACT_APP_LENS_ID=<77b918f0-930f-423c-be8b-05c1ccd96747>
REACT_APP_LENS_GROUP_ID=<11cbcba2-1275-47ec-9916-feaa6c52d24b>